/* Cette partie contient tous l'entête de la page. */

.mon-gif {
	height: 8em;
	animation: mon-gif 5s infinite;
	background-color: orangered;
}

.mon-gif h1 {
	align-items: center;
}

.petite-nav {
	display: flex;
	align-items: center;
	width: 100%;
	font-weight: bold;
	height: 8em;
}

.petite-nav img {
	font-size: 30px;
}

.nom_jardin_logo {
	display: flex;
	align-items: center;
	padding-right: 5em;
	padding-left: 15em;
}

body {
	font-family: "Poppin", sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: white;
}

header {
	width: 100%;
	padding-bottom: 20px;
}

.header-container {
	max-width: 100%;
	background-color: green;
	align-items: center;
	display: flex;
	height: 8em;
	width: 100%;
}

.navbar {
	display: flex;
}

.navbar-1 {
	padding-left: 3em;
}

.navbar-2 {
	padding-left: 30em;
}

.navbar-2 li a {
	color: #fff;
}

.search-content {
	display: flex;
	padding-right: 30px;
	border: 1px solid black;
	border-radius: 30px;
	overflow: hidden;
	align-items: center;
}

input[type="search"] {
	font-size: 20px;
	border: none;
	width: 550px;
	padding: 20px;
}

input[type="search"]::placeholder {
	font-size: 18px;
	color: black;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px;
}

ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
}

/* Voici le début du corps de mon code. */

main {
	margin: auto;
	max-width: 90%;
	background-color: orangered;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:40px;
}

.categories-produits {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}

.grid-container img {
	width: 100%;
	object-fit: cover;
}

.grid-item {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(1, 1fr);
	gap: 15px;
}

.item {
	background-color: #fff;
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
}

.favoris{
	height: 3em;
	width: 3em;
}

.nom-fruit {
	text-decoration: none;
	color: blue;
	font-size: 20px;
}

.prix-fruit h3{
	color: rgb(22, 69, 170);
	letter-spacing: -2px;
}

.nom-item {
	color: #fff;
	background-color: rgb(255, 72, 0);
	border-radius: 2px;
	font-size: 18px;
	font-weight: bold;
	max-width: max-content;
	padding: 8px;
	overflow: hidden;
	letter-spacing: -1px;
}

.item a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	padding: 15px;
}

.prix-content {
	display: flex;
	justify-content: space-between;
}

.item a img {
	height: 260px;
	width: 100%;
	object-fit: contain;
}

/* Vous avez là, le pied de page. */

footer {
	flex-shrink: 0;
	border: 1px solid black;
	background: linear-gradient(to right, orangered, green);
	background: linear-gradient(to left, green, orangered);
	width: 100%;
	color: white;
}

.contenu_footer {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 20px;
	padding: 50px 0px 100px;
}

.footer_services h3,
.footer_contacts h3,
.footer_horraires h3,
.footer_reseaux h3 {
	width: 25%;
	margin: 0 30px;
	font-size: 25px;
	padding-bottom: 20px;
}

.footer_contacts p {
	padding: 5px 0px;
}


.listes_services,
.listes_contacts,
.listes_horraires {
	list-style-type: none;
}

.listes_services {
	padding: 2px 0px;
}

.listes_services a {
	text-decoration: none;
	color: #333;
}

.listes_reseaux a {
	text-decoration: none;
	color: #333;
	display: flex;
	align-items: center;
	font-size: 25px;
	list-style-type: none;
}

/* Ici c'est le deuxième footer ou pieds de page */

.footer-cpr{
	text-align: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	background-color: black;
}