/*Le css de l'entête */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: Arial, Times, serif;
}

.mon-gif {
	height: 8em;
	background-color: orangered;
	color: #fff;
}

.petite-nav {
	width: 100%;
	height: 130px;
	display: inline-block;
	align-items: center;
}

.nav-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.srch {
	width: 350px;
	height: 50px;
	border: 1px solid #000000;
	margin-top: 13px;
	color: #ffffff;
	border-right: none;
	font-size: 17px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.btn {
	width: 95px;
	height: 50px;
	background: #000000;
	border: 2px solid #000000;
	color: #ffffff;
	font-size: 17px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	transition: 1, 5s ease-in-out;
}

.btn:hover {
	color: #ff7200;
	background: #fff;
}

.nav-btn {
	display: flex;
	float: left;
	width: 90px;
	justify-content: space-around;
}

.icone {
	width: 40px;
	height: 38px;
	padding-right: 48px;
}

body {
	margin: 0px;
	padding: 0px;
}

header {
	width: 100%;
	padding-bottom: 20px;
}

.header-container {
	max-width: 100%;
	background-color: green;
	align-items: center;
	display: flex;
	height: 8em;
	width: 100%;
}

.navbar {
	display: flex;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 80px;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: 15px;
}

ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
}

/* Voici le début du corps de mon code. */

main {
	margin: auto;
	max-width: 90%;
	background-color: orangered;
	padding: 10px;
}

.categories-produits {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	padding-top: 20px;
}

.voirtout {
	background-color: #000000;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	width: 100%;
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
}

.grid-container img {
	width: 100%;
	object-fit: cover;
}

.fav {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 38px;
	height: 38px;
}

.grid-item {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(1, 1fr);
	gap: 10px;
	
}

.item {
	background-color: #fff;
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
	position: relative;
}

.favoris {
	height: 3em;
	width: 3em;
}

.prix-content {
	display: flex;
	justify-content: space-between;
}

.nom-fruit {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 20px;
	font-weight: bold;
}

.prix-fruit h3 {
	color: rgb(110, 31, 236);
	letter-spacing: -2px;
}

.nom-item {
	color: #fff;
	background-color: rgb(255, 72, 0);
	border-radius: 2px;
	font-size: 18px;
	font-weight: bold;
	max-width: max-content;
	padding: 8px;
	overflow: hidden;
	letter-spacing: -1px;
}

.item a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	padding: 15px;
}

.item a img {
	height: 260px;
	width: 100%;
	object-fit: contain;
}

/* Le css du pied de la page. */

.footer {
	background: linear-gradient(to right, orangered, green);
	background: linear-gradient(to left, green, orangered);
	align-items: center;
	text-align: center;
}

.footer .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 1rem;
	padding-top: 2em;
	padding-bottom: 2em;
}

.footer .box-container .box h3 {
	color: white;
	font-size: 1.5rem;
	display: block;
}

.footer .box-container .box a {
	color: var(--light-white);
	font-size: 1.5rem;
	display: block;
	font-weight:lighter;
}

.footer .box-container .box a i {
	color: var(--main-color);
	padding-right: .5rem;
	transition: .2s linear;
}

.footer .box-container .box a:hover i {
	padding-right: 2rem;
}

.footer .home-right {
	text-align: center;
	margin-top: 2rem;
	padding-bottom: 2rem;
	border-top: .1rem solid var(--light-white);
	font-size: 2rem;
	color: var(--white);
}

.footer .home-right span {
	color: var(--main-color);
}

@media screen and (max-width: 375px) {
	.mon-gif{
		width: 375px;
	}

	.mon-gif h1{
		font-size: 20px;
	}
		
	.petite-nav {
		width: 375px;
		height: 130px;
		display: inline-block;
		align-items: center;
	}

	.nav-content {
		display: flex;
		align-items: center;
		text-align: center;
	}

	.srch {
		width: 50px;
		height: 20px;
		border: 1px solid #000000;
		color: #ffffff;
		border-right: none;
		font-size: 5px;
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
	}
	
	.btn {
		width: 50px;
		height: 20px;
		background: #000000;
		border: 2px solid #000000;
		color: #ffffff;
		font-size: 5px;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		transition: 1,5s ease-in-out;
	}
	.nav-btn {
		display: flex;
		width: 5px;
	}
	
	.icone {
		width: 10px;
		height: 8px;
		padding-right: 5px;
	}
		
	.header-container {
		width: 375px;
		background-color: green;
		align-items: center;
		height: 8em;
	}

	.navbar {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	.navbar a{
		display: flex;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 10px;
	}
		
	main {
		max-width: 375px;
		background-color: orangered;
		padding: 5px;
	}

	.categories-produits {
		display: flex;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	.grid-item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		gap: 10px;
	}
		
	.grid-container img {
		width: 100%;
		object-fit: cover;
	}
	
	.item {
		background-color: #fff;
		margin-left: 5px;
		margin-right: 5px;
		display: flex;
		position: relative;
	}

	.item a img {
		height: 260px;
		width: 100%;
		object-fit: contain;
	}


	.footer .box-container .box h3 {
		color: white;
		font-size: 1em;
		padding-left: 15px;
	}
	
	.footer .box-container .box a {
		color: var(--light-white);
		font-size: 1em;
		display: block;
		text-align: center;
	}

	.footer .home-right {
		font-size: 1em;
		color: black;
		font-weight: bold;
		text-align: center;
		padding-bottom: 10px;
	}
}